:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  .zone-display {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    height: 100%;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;
      min-width: 0;
      width: 50%;
    }
    .zone-image {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .zone-info {
      display: flex;
      flex-direction: column;
      place-content: space-between;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      align-self: center;
      .zone-controls-compact {
        width: 100%;
      }
    }
  }
  .zone-display.one-column {
    flex-direction: column;
    > div {
      width: 100%;
      flex-grow: 0;
    }
    .zone-image {
      flex-grow: 1;
    }
    .zone-info {
      height: auto;
    }
  }
}
