<div class="zone-display" [class.one-column]="$isOneColumn()">
  <div class="zone-image">
    @if ($trackDisplay() !== EMPTY_TRACK) {
      @if ($image().isReady) {
        <nr-roon-image [src]="$image().src" [height]="$image().size" [width]="$image().size" priority="true" [alt]="$trackDisplay().title + ' cover'" />
      }
    } @else {
      <div>
        <p>{{$trackDisplay().title}}</p>
      </div>
    }
  </div>
  @if ($isOneColumn()) {
    <div class="zone-info">
      <nr-zone-current-track [$isOneColumn]="$isOneColumn" [$trackDisplay]="$trackDisplay" />
      <nr-zone-actions [$trackDisplay]="$trackDisplay" />
    </div>
  } @else if ($isCompact()) {
    <div class="zone-info compact" [style.height]="$image().size + 'px'">
      <nr-zone-current-track [$isOneColumn]="$isOneColumn" [$trackDisplay]="$trackDisplay" />
      @if ($displayQueueTrack()) {
        <nr-zone-queue [$trackDisplay]="$trackDisplay" [disableAnimation]="!hasBeenDisplayed && $displayQueueTrack()" @hideQueueTrack />
      }
      <div class="zone-controls-compact">
        <nr-zone-actions />
        <nr-zone-commands [$zoneCommands]="$zoneCommands" [$zoneOutputs]="$zoneOutputs" />
        <nr-zone-progression [$zoneProgression]="$zoneProgression" />
      </div>
    </div>
  } @else if ($isWide()) {
    <div class="zone-info">
      <nr-zone-current-track [$isOneColumn]="$isOneColumn" [$trackDisplay]="$trackDisplay" />
      @if ($displayQueueTrack()) {
        <nr-zone-queue [$trackDisplay]="$trackDisplay" [disableAnimation]="!hasBeenDisplayed && $displayQueueTrack()" @hideQueueTrack />
      }
      <nr-zone-actions />
    </div>
  }
</div>
@if ($isWide() || $isOneColumn()) {
  <nr-zone-commands [$zoneCommands]="$zoneCommands" [$zoneOutputs]="$zoneOutputs" />
  <nr-zone-progression [$zoneProgression]="$zoneProgression" />
}
