version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "github-actions"
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "docker"
    groups:
      docker:
        patterns:
          - "*"
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      angular:
        patterns:
         - "@angular*"
         - "angular-eslint"
         - "ng-packagr"
      production-dependencies:
        dependency-type: "production"
        exclude-patterns:
        - "@angular*"
        - "angular-eslint"
        - "ng-packagr"
      development-dependencies:
        dependency-type: "development"
        exclude-patterns:
        - "@angular*"
        - "angular-eslint"
        - "ng-packagr"
    ignore:
      - dependency-name: "typescript"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "@types/bun"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
          - "version-update:semver-patch"
      - dependency-name: "@eslint/js"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "eslint"
        update-types:
          - "version-update:semver-major"
