.github
.idea
app/roon-web-api/bin
app/roon-web-api/coverage
app/roon-web-api/Dockerfile
app/roon-web-api/node_modules
app/roon-web-api/config.json
app/roon-web-ng-client/.angular
app/roon-web-ng-client/.idea
app/roon-web-ng-client/coverage
app/roon-web-ng-client/dist
app/roon-web-ng-client/node_modules
app/roon-web-ng-client/projects/nihilux/ngx-spatial-navigable/coverage
app/roon-web-ng-client/projects/nihilux/ngx-spatial-navigable/node_modules
doc
node_modules
packages/roon-web-client/coverage
packages/roon-web-client/node_modules
packages/roon-web-elint/node_modules
packages/roon-web-model/node_modules
scripts
