<div class="roon-list" [class.is-small-screen]="$isOneColumn()" nrSnContainer>
  @if(content.list.subtitle) {
    <h3>{{sanitizeSubtitle(content.list.subtitle)}}</h3>
  }
  <cdk-virtual-scroll-viewport [itemSize]="91">
    <ol>
      <li *cdkVirtualFor="let item of dataSource; let last = last; let index = index">
        @if (item) {
          <button
            (click)="!item.input_prompt ? onItemClicked(index, item.title, item.item_key, item.hint, false) : true"
            class="roon-list-item"
            [id]="'roon-browse-item-' + index"
            nrSnStarter
            [nrSnIgnore]="index !== 0"
          >
            @if (item.image_key !== null || content.list.image_key) {
              <nr-roon-image
                class="roon-item-image"
                [src]="item.image_key ?? content.list.image_key "
                [alt]="item.title + ' cover'"
                [height]="70"
                [width]="70"
                priority="false"
              />
            } @else if(!$isOneColumn()) {
              <div class="roon-item-image"></div>
            }
            <div class="roon-item-info" [class.roon-item-prompt]="item.input_prompt !== undefined">
              @if (!(item.input_prompt && $isOneColumn())) {
                <span>{{item.title}}</span>
                @if (item.subtitle) {
                  <span>{{sanitizeSubtitle(item.subtitle)}}</span>
                }
              }
              @if (item.input_prompt) {
                <mat-form-field appearance="outline">
                  <mat-label>{{item.input_prompt.prompt}}</mat-label>
                  <input
                    matInput
                    (change)="onPromptInputChange(item.item_key + '_prompt_input', $event)"
                    (keyup.enter)="onItemClicked(index, item.title, item.item_key, item.hint, true)"
                  />
                </mat-form-field>
                <button mat-button (click)="onItemClicked(index, item.title, item.item_key, item.hint, true)">{{item.input_prompt.action}}</button>
              }
            </div>
            @if (item.hint === "action_list") {
              <button mat-icon-button nrSnElement nrSnIgnore="true"><mat-icon fontIcon="more_vert" /></button>
              <div [matMenuTriggerFor]="actionMenu" [matMenuTriggerData]="{ item_key: item.item_key, title: item.title, actions: [] }"></div>
            }
          </button>
          @if (!last) {
            <mat-divider [inset]="!$isOneColumn()" [vertical]="false" />
          }
        }
      </li>
    </ol>
  </cdk-virtual-scroll-viewport>
  <mat-menu #actionMenu="matMenu" xPosition="before" class="nr-menu-custom" [class]="$layoutClass()">
    <ng-template matMenuContent let-contextActions="actions" let-contextTitle="title">
      @for (action of contextActions; track action.item_key; let index = $index) {
        <button mat-menu-item (click)="onActionClicked(action.item_key, index, contextTitle)">{{action.title}}</button>
      }
    </ng-template>
  </mat-menu>
</div>
