@use "../styles/mixins" as nr;

:host {
  height: 100%;
  width: 100%;
  .roon-list {
    height: 100%;
    width: 100%;
    h3 {
      margin: .5em 0 .5em 16px;
    }
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
    ol {
      list-style: none;
      margin: 5px;
      padding: 0;
      .roon-list-item {
        @include nr.button-reset();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        .roon-item-image-placeholder {
          height: 70px;
          width: 70px;
        }
        .roon-item-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 70px;
          min-width: 0;
          text-align: left;
          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .roon-item-info.roon-item-prompt {
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          min-width: 0;
          mat-form-field {
            flex-grow: 1;
            margin-left: 30px;
          }
          button {
            margin-left: 20px;
          }
        }
        .roon-item-info.is-small-screen.roon-item-prompt mat-form-field {
          margin-left: 0;
        }
        .roon-item-info:not(.is-small-screen) {
          span {
            margin-left: 30px;
          }
        }
        .roon-item-info.is-small-screen {
          span {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
