@use "../styles/mixins" as nr;

:host {
  height: 100%;
  width: 100%;
  .roon-list {
    height: 100%;
    width: 100%;
    h3 {
      margin: .5em 0 .5em 16px;
    }
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        .mat-divider.mat-divider-inset {
          margin-left: 105px;
        }
      }
      .roon-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 10px 10px;
        width: 100%;
        @include nr.button-reset();
        .roon-item-image {
          height: 70px;
          min-width: 70px;
        }
        .roon-item-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 70px;
          min-width: 0;
          text-align: left;
          span {
            @include nr.block-overflow-ellipsis();
          }
        }
        .roon-item-info.roon-item-prompt {
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          min-width: 0;
          mat-form-field {
            flex-grow: 1;
            margin-left: 30px;
          }
          button {
            margin-left: 20px;
          }
        }
        .roon-item-info.is-small-screen.roon-item-prompt mat-form-field {
          margin-left: 0;
        }
      }
    }
  }
  .roon-list:not(.is-small-screen) {
    ol {
      .roon-list-item {
        span {
          margin-left: 30px;
        }
      }
    }
  }
  .roon-list.is-small-screen {
    ol {
      .roon-list-item {
        padding: 10px 0;
        span {
          margin-left: 15px;
        }
      }
    }
  }
}
