<div class="zone-display">
  <ng-container [ngTemplateOutlet]="layout.zoneImage" [ngTemplateOutletContext]="layout.context"></ng-container>
  <div class="zone-info">
    <ng-container [ngTemplateOutlet]="layout.zoneCurrentTrack" [ngTemplateOutletContext]="layout.context"></ng-container>
    <ng-container [ngTemplateOutlet]="layout.zoneActions" [ngTemplateOutletContext]="layout.context"></ng-container>
  </div>
</div>
<ng-container [ngTemplateOutlet]="layout.zoneCommands" [ngTemplateOutletContext]="layout.context"></ng-container>
<ng-container [ngTemplateOutlet]="layout.zoneProgression" [ngTemplateOutletContext]="layout.context"></ng-container>
