:host {
  display: block;
  padding-top: 15px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    .zones {
      flex-basis: 35%;
      text-align: right;
    }
    .zones.is-small-screen {
      flex-basis: 20%;
    }
    .volume {
      flex-basis: 35%;
      text-align: left;
    }
    .volume.is-small-screen {
      flex-basis: 20%;
    }
    .buttons {
      flex-basis: 30%;
      text-align: center;
    }
    .buttons.is-small-screen {
      flex-basis: 60%;
    }
  }
}
