:host {
  h2 {
    padding-bottom: 18px;
  }
  mat-dialog-actions {
    button {
      margin: 0 8px 8px 0;
    }
  }
}
.zone-grouping {
  .from-zone {
    display: flex;
    margin-bottom: 20px;
    mat-icon {
      margin-right: 10px;
    }
  }
  mat-divider {
    min-width: 250px;
  }
}

@media screen and (max-width: 300px) {
  .zone-grouping {
    mat-divider {
      min-width: 170px;
    }
  }
}
