<h2 mat-dialog-title>Zone grouping</h2>
<mat-divider />
<mat-dialog-content class="zone-grouping" [class.is-small-screen]="$isSmallScreen()">
  <span class="from-zone"><mat-icon fontIcon="speaker" />{{mainOutput.display_name}}</span>
  <mat-divider />
  @if ($groupedOutputs().length > 0) {
    <h3 ngxSnContainer>Currently in group:</h3>
    @for (output of $groupedOutputs(); track output.output_id; let index = $index) {
      <p>
        <mat-checkbox
          [checked]="output.state === 'checked'"
          [indeterminate]="output.state === 'indeterminate'"
          (change)="toggleGroupedOutput(index)"
          [color]="output.state === 'indeterminate' ? 'warn' : 'primary'"
          [id]="'zone-grouped-' + output.output_id"
        >
            <mat-icon fontIcon="speaker"/>{{output.display_name}}
        </mat-checkbox>
      </p>
    }
    <mat-divider />
  }
  @if ($canGroupOutputs().length > 0) {
    <h3 ngxSnContainer>Add to zone:</h3>
    @for (output of $canGroupOutputs(); track output.output_id; let index = $index) {
      <p>
        <mat-checkbox
          [checked]="output.state === 'checked'"
          (change)="toggleCanGroupedOutput(index)"
          color="primary"
          [id]="'zone-grouping-' + output.output_id"
        >
          <mat-icon fontIcon="speaker"/>{{output.display_name}}
        </mat-checkbox>
      </p>
    }
  }
</mat-dialog-content>
<mat-dialog-actions align="end" ngxSnContainer>
  <button ngxSnStarter mat-button id="zone-grouping-cancel" (click)="onSave()"><mat-icon fontIcon="save" />Save</button>
</mat-dialog-actions>
