@mixin button-reset {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
  overflow: visible;
  padding-block: 0;
  padding-inline: 0;
  &:focus-visible {
    outline: none;
    backdrop-filter: contrast(0.5);
    --webkit-backdrop-filter: contrast(0.5);
  }
}

@mixin block-overflow-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin mat-dialog-action-bottom-right {
  padding: 0 24px 20px 0;
}

@mixin zone-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  .zone-display {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    height: 100%;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;
      min-width: 0;
      width: 50%;
    }
    .zone-info {
      display: flex;
      flex-direction: column;
      place-content: space-between;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      align-self: center;
    }
  }
}

@mixin mat-icon-size($font-size) {
  font-size: $font-size;
  width: $font-size;
  height: $font-size;
}

@mixin mat-button-size($font-size) {
  & {
    --mdc-text-button-label-text-size: #{$font-size};
  }
  .mat-mdc-button > .mat-icon {
    @include mat-icon-size(#{$font-size});
  }
}

@mixin icon-button-size($size: 48px, $font-size: 24px, $padding: 12px) {
  button {
    --mdc-icon-button-state-layer-size: #{$size};
    --mdc-icon-button-icon-size: #{$font-size};
    padding: $padding;
    mat-icon {
      @include mat-icon-size(#{$font-size});
    }
  }
}

@mixin ten-feet-button($width: 310px, $height: 90px, $font-size: 1.5rem, $margin-bottom: 25px, $border-radius: 16px) {
  min-width: $width;
  text-align: center;
  line-height: $height;
  margin-bottom: $margin-bottom;
  button {
    height: $height;
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid var(--mat-text-button-state-layer-color);
    font-size: $font-size;
  }
  @include mat-button-size($font-size);
}

@mixin ten-feet-blur($blur: 10px, $background-color: var(--ten-feet-blur-background-color)) {
  & {
    backdrop-filter: blur(#{$blur});
    --webkit-backdrop-filter: blur(#{$blur});
    background-color: $background-color;
  }
}
