<h2 mat-dialog-title>Custom Actions Recorder</h2>
<mat-dialog-content>
  <h4>Choose a kind of content:</h4>
  <div class="hierarchies-container" nrSnContainer>
    @for (h of recordableHierarchies; track h.hierarchy) {
      <div class="hierarchy">
        <button mat-fab extended color="primary"  (click)="startRecording(h)">
          <mat-icon>{{h.icon}}</mat-icon>
          {{h.label}}
        </button>
      </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()"><mat-icon fontIcon="cancel" />Cancel</button>
</mat-dialog-actions>
