@use "../styles/mixins" as nr;

:host {
  width: 100%;
  flex-grow: 0;
  .queue {
    span {
      @include nr.block-overflow-ellipsis();
    }
    padding-left: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0 0 15px 0;
      }
    }
    .track {
      @include nr.button-reset();
      width: 100%;
      display: flex;
      height: 85px;
      .track-image {
        height: 70px;
        min-width: 70px;
      }
      .track-info {
        display: inline-block;
        // TODO: Make this value depending on device size and orientation
        margin-left: 15px;
        flex-grow: 1;
        min-width: 0;
        cursor: pointer;
        .track-title {
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
        .track-album {
          margin-bottom: 3px;
        }
      }
    }
  }
}

:host.open {
  flex-grow: 2;
}

:host.in-dialog {
  .queue {
    padding-left: 0;
  }
}

:host:not(.in-dialog) {
  .queue {
    ol {
      padding-left: 25px;
      li {
        padding-right: 35px;
      }
    }
  }
}
