@if ($queue().length > 0) {
  <cdk-virtual-scroll-viewport
    [@toggleQueue]="$displayQueue() ? 'open' : 'closed'"
    (@toggleQueue.done)="onQueueTrackToggled()"
    (@toggleQueue.start)="onQueueTrackToggleStart($event)"
    [@.disabled]="disabled"
    [itemSize]="$itemSize()"
    class="queue"
    [class.is-big-fonts]="$isBigFonts()"
    ngxSnContainer
    [ngxSnContainerIgnore]="!open"
  >
    <ol>
        <li *cdkVirtualFor="let track of $queue(); let last = last; let index = index;">
          <button (click)="openActionMenu(track.queue_item_id)" class="track" [id]="'queue-item-' + track.queue_item_id">
            @if (track.image_key !== undefined) {
              <nr-roon-image
                [src]="track.image_key"
                [alt]="track.title + ' cover'"
                [height]="$imageSize()"
                [width]="$imageSize()"
                class="track-image"
                priority="false"
              />
            } @else {
              <div class="track-image"></div>
            }
            <div class="track-info">
              <span class="track-title">{{track.title}}</span>
              @if (track.disk?.title) {
                <span class="track-album">on {{track.disk?.title}}</span>
              }
              @if (track.artist) {
                <span class="track-artist">by {{track.artist}}</span>
              }
            </div>
          </button>
          <div [matMenuTriggerFor]="actionMenu" [matMenuTriggerData]="track.queue_item_id"></div>
          @if (!last) {
            <mat-divider [inset]="true" [vertical]="false" />
          }
        </li>
    </ol>
  </cdk-virtual-scroll-viewport>
  <mat-menu #actionMenu="matMenu" xPosition="before" yPosition="above" class="nr-menu-custom" [class]="$layoutClass()">
    <ng-template matMenuContent let-queueItemId="queue_item_id">
      <button mat-menu-item (click)="onPlayFromHere(queueItemId)">Play from here</button>
    </ng-template>
  </mat-menu>
} @else {
  <div class="track">
    <div class="track-info">
      <span class="track-title">Nothing in queue, go add some music or enjoy Roon radio!</span>
    </div>
  </div>
}
