@use "../../styles/mixins" as nr;

:host {
  width: 100%;
  flex-grow: 0;
  .queue {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    span {
      @include nr.block-overflow-ellipsis();
    }
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
    ol {
      list-style: none;
      padding: 0 0 0 var(--queue-list-padding);
      margin: 0;
      li {
        padding-right: 20px;
        .mat-divider.mat-divider-inset {
          margin-left: var(--queue-item-divider-margin);
        }
      }
    }
    .track {
      @include nr.button-reset();
      width: 100%;
      display: flex;
      height: var(--queue-item-height);
      align-items: center;
      padding-left: var(--queue-item-padding);
      .track-image {
        height: var(--queue-item-image-height);
        min-width: var(--queue-item-image-height);
      }
      .track-info {
        display: inline-block;
        // TODO: Make this value depending on device size and orientation
        margin-left: var(--queue-item-margin);
        flex-grow: 1;
        min-width: 0;
        cursor: pointer;
        .track-title {
          font-size: 1.2em;
          margin-bottom: var(--queue-item-track-title-margin);
        }
        .track-album {
          margin-bottom: var(--queue-item-track-album-margin);
        }
      }
    }
    &.is-big-fonts {
      --queue-item-height: 160px;
      --queue-item-image-height: 120px;
      --queue-item-margin: 30px;
      --queue-item-track-title-margin: 13px;
      --queue-item-track-album-margin: 11px;
      --queue-item-padding: 20px;
   }
  }
}

:host.open {
  flex-grow: 2;
}

:host.in-dialog {
  --queue-list-padding: 0;
  --queue-item-divider-margin: 0;
  --queue-item-padding: 0;
}
