:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .current-track {
    padding: 0 25px;
    margin-bottom: 20px;
    cursor: pointer;
    h1 {
      margin: 10px 0 5px 0;
    }
    p {
      margin: 0;
    }
    span {
      padding-left: 5px;
      line-height: 2.0rem;
      font-size: 1.8rem;
      min-width: 0;
    }
  }
  .queue {
    flex-grow: 1;
    padding-left: 30px;
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0 35px 15px 0;
        .track {
          margin: 0;
        }
      }
    }
    .track {
      display: flex;
      height: 85px;
      margin: 25px 0 0 -10px;
      .track-image-placeholder {
        height: 70px;
        width: 70px;
      }
      .track-info {
        display: inline-block;
        margin-left: 15px;
        flex-grow: 1;
        min-width: 0;
        cursor: pointer;
        .track-title {
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
        .track-album {
          margin-bottom: 3px;
        }
      }
    }
  }
  .queue-commands {
    margin: 15px 0 0 10px;
  }
}
