@if (withoutLabel) {
  <button mat-icon-button [matMenuTriggerFor]="zoneSelector"><mat-icon fontIcon="speaker" /></button>
} @else {
  <button mat-button [matMenuTriggerFor]="zoneSelector"><mat-icon fontIcon="speaker" />{{$label()}}</button>
}

<mat-menu #zoneSelector="matMenu" [yPosition]="yPosition" [xPosition]="xPosition" class="nr-menu-custom" [class]="$layoutClass()">
  @for (zd of $zones(); track zd.zone_id) {
    <button mat-menu-item (click)="onZoneSelected(zd.zone_id)"><mat-icon fontIcon="speaker" />{{zd.display_name}}</button>
  }
</mat-menu>
