@if ($withFullscreen()) {
  <div class="full-screen-toggle">
    <nr-full-screen-toggle />
  </div>
}
<div class="actions" [class.centered]="$withFullscreen()">
  @if ($isIconsOnly()) {
    @for (action of $actions(); track action.id) {
      <span class="is-small-screen">
        <button
          mat-icon-button
          (click)="executeAction(action)"
          [id]="'zone-action-' + action.id"
        ><mat-icon [fontIcon]="action.button.icon" /></button>
      </span>
    }
  } @else {
    @for (action of $actions(); track action.id) {
      <span>
        <button
          mat-button
          (click)="executeAction(action)"
          [id]="'zone-action-' + action.id"
        ><mat-icon [fontIcon]="action.button.icon" />{{action.button.label}}</button>
      </span>
    }
  }
</div>
<div class="settings">
    <button
      mat-icon-button
      (click)="openSettingsDialog()"
      id="zone-action-settings"
    ><mat-icon fontIcon="settings" /></button>
</div>
