@use "../../styles/mixins" as nr;

:host {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0;
  width: 100%;
  .full-screen-toggle {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .actions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    span {
      display: inline-block;
      min-width: 130px;
    }
    span.is-small-screen {
      min-width: 50px;
    }
  }
  .actions.centered {
    justify-content: center;
  }
  .settings {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:host.ten-feet {
  flex-direction: column;
  margin: 0;
  .actions {
    flex-wrap: wrap;
    justify-content: space-evenly;
    span {
      @include nr.ten-feet-button();
      &:last-child, &:nth-last-child(2) {
        // margin-bottom: 0;
      }
    }
  }
  .settings {
    display: none;
  }
}
