:host {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0;
  .actions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    span {
      display: inline-block;
      min-width: 130px;
    }
    span.is-small-screen {
      min-width: 50px;
    }
  }
  .settings {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
