:host {
  display: block;
  width: 100%;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 10px 0;
    time {
      cursor: default;
      font-family: 'Roboto Mono', monospace;
      display: block;
      width: 80px;
    }
    time:first-of-type {
      text-align: right;
      margin-right: 20px;
    }
    time:last-of-type {
      text-align: left;
      margin-left: 20px;
    }
  }
}
