<main class="main">
  <div class="content">
    @switch ($state()) {
      @case ("STARTING") {
        @defer (on timer(1s)) {
          <div class="extension-not-enabled">
            <h1>connection with roon server did not complete</h1>
            <h2>if you're seeing this message, you need to activate the extension in roon settings and then reload this page</h2>
          </div>
        }
      }
      @case ("SYNCING") {
        @defer (on timer(1s)) {
          <div class="loading-spinner">
            <h1>syncing with roon server</h1>
            <mat-progress-spinner diameter="350" strokeWidth="15" color="primary" mode="indeterminate" />
          </div>
        }
      }
      @case ("SYNC") {
        @if ($hasSelectedZone()) {
          @defer {
            <nr-zone-container />
          } @loading (minimum 500ms) {
            <div class="loading-spinner">
              <h1>loading application</h1>
              <mat-progress-spinner diameter="350" strokeWidth="15" color="primary" mode="indeterminate" />
            </div>
          }
        } @else {
          <div class="no-zone-to-display">
            <h1>Choose a zone to display</h1>
            <nr-zone-selector />
          </div>
        }
      }
      @case("LOST") {
        <div class="loading-spinner">
          <h1>lost roon server, waiting for the server to be available again</h1>
          <mat-progress-spinner diameter="350" strokeWidth="15" color="primary" mode="indeterminate" />
        </div>
      }
      @case("STOPPED") {
        <div class="loading-spinner">
          <h1>disconnected from roon server, trying to reconnect</h1>
          <mat-progress-spinner diameter="350" strokeWidth="15" color="primary" mode="indeterminate" />
        </div>
      }
      @default {
        <h1>unknown state! something wrong!</h1>
      }
    }
  </div>
</main>
