<h2 mat-dialog-title class="browse-settings-title">Settings</h2>
<mat-dialog-content>
  <div class="settings">
    @if (!$isOneColumn()) {
      <div class="setting">
        <label for="display-mode-selector">Display mode:</label>
        <mat-radio-group id="display-mode-selector" aria-label="Select a display mode" [value]="displayMode()()" (change)="setDisplayMode($event)">
          <mat-radio-button [value]="'WIDE'" color="primary">Wide</mat-radio-button>
          <mat-radio-button [value]="'COMPACT'" color="primary">Compact</mat-radio-button>
        </mat-radio-group>
      </div>
    }
    <div class="setting">
      <label for="theme-selector">Theme:</label>
      <mat-radio-group id="theme-selector" aria-label="Select a theme" [value]="chosenTheme()()" (change)="setChosenTheme($event)" [class.small-screen]="$isSmallScreen()">
        <mat-radio-button [value]="'DARK'" color="primary">Dark</mat-radio-button>
        <mat-radio-button [value]="'LIGHT'" color="primary">Light</mat-radio-button>
        <mat-radio-button [value]="'BROWSER'" color="primary">Browser</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="setting">
      <label for="zone-selector">Displayed zone:</label>
      <nr-zone-selector id="zone-selector" aria-label="Choose a zone to display" />
    </div>
  </div>
  <div class="version" [class.small-screen]="$isSmallScreen()">
    <button mat-button (click)="onReload()"><mat-icon fontIcon="refresh" />Reload app</button>
    <span>version: {{version}}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onSave()"><mat-icon fontIcon="save" />Save</button>
</mat-dialog-actions>
