<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content [class.is-big-fonts]="$isBigFonts()">
  <mat-tab-group [selectedIndex]="selectedTab" animationDuration="200ms">
    <mat-tab label="General" bodyClass="settings-tab">
      <ng-template matTabContent>
        <div class="settings" ngxSnContainer>
          <div class="setting">
            <label for="theme-selector">Theme:</label>
            <button ngxSnStarter mat-button id="theme-selector" [matMenuTriggerFor]="themeSelector" (menuOpened)="onMenOpen()" (menuClosed)="onMenuClosed()">
              <mat-icon [fontIcon]="chosenTheme()().icon" />{{chosenTheme()().label}}
            </button>
            <mat-menu #themeSelector="matMenu" yPosition="below" xPosition="after" class="nr-menu-custom" [class]="$layoutClass()">
              @for (t of chosenThemes(); track t.id) {
                <button mat-menu-item (click)="setChosenTheme(t.id)"><mat-icon [fontIcon]="t.icon"/>{{t.label}}</button>
              }
            </mat-menu>
          </div>
          @if (!$isOneColumn()) {
            <div class="setting">
              <label for="display-mode-selector">Display mode:</label>
              <button mat-button id="display-mode-selector" [matMenuTriggerFor]="displayModeSelector" (menuOpened)="onMenOpen()" (menuClosed)="onMenuClosed()">
                <mat-icon fontIcon="display_settings" />{{$displayMode()}}
              </button>
              <mat-menu #displayModeSelector="matMenu" yPosition="below" xPosition="after" class="nr-menu-custom" [class]="$layoutClass()">
                @for (dm of displayModes; track dm.id) {
                  <button mat-menu-item (click)="setDisplayMode(dm.id)"><mat-icon fontIcon="display_settings" />{{dm.label}}</button>
                }
              </mat-menu>
            </div>
          }
          <div class="setting">
            <label for="zone-selector">Displayed zone:</label>
            <nr-zone-selector id="zone-selector" aria-label="Choose a zone to display" yPosition="below" xPosition="after" />
          </div>
        </div>
        <div class="version" [class.small-screen]="$isSmallScreen()">
          <button mat-button id="reload-app" (click)="onReload()"><mat-icon fontIcon="refresh" />Reload app</button>
          <span>version: {{version}}</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Actions" bodyClass="settings-tab">
      <ng-template matTabContent>
        <div class="settings actions" ngxSnContainer>
          <div class="actions-configuration">
            <button mat-button ngxSnStarter id="actions-selector" [matMenuTriggerFor]="actionSelector" [disabled]="$availableActions().length === 0" (menuOpened)="onMenOpen()" (menuClosed)="onMenuClosed()">
              <mat-icon fontIcon="action_key" />Add Action
            </button>
            <button mat-button id="action-recorder" (click)="openCustomActionsManager()">
              <mat-icon fontIcon="dashboard_customize" />Manage custom Actions
            </button>
            <mat-menu #actionSelector="matMenu" yPosition="below" xPosition="after" class="nr-menu-custom" [class]="$layoutClass()">
              @for (da of $availableActions(); track da.id) {
                <button mat-menu-item (click)="addAction(da)"><mat-icon [fontIcon]="da.button.icon" />{{da.button.label}}</button>
              }
            </mat-menu>
          </div>
          <div class="active-actions-container">
            <div cdkDropList (cdkDropListDropped)="onActionsReordered($event)" class="active-actions">
              @for (a of $actions(); track a.id) {
                <div class="active-action" cdkDrag>
                  <span class="active-action-label">
                    <mat-icon [fontIcon]="a.button.icon" />
                    <span>{{a.button.label}}</span>
                  </span>
                  <span>
                    <button mat-icon-button [id]="'action-remove-' + a.id" (click)="removeAction(a)"><mat-icon fontIcon="cancel" /></button>
                    <button mat-icon-button ngxSnElement ngxSnIgnore="true" cdkDragHandle><mat-icon fontIcon="reorder" /></button>
                  </span>
                </div>
              }
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end" ngxSnContainer>
  <button mat-button id="settings-save" (click)="onSave()"><mat-icon fontIcon="save" />Save</button>
</mat-dialog-actions>
