@use "../styles/mixins" as nr;

:host {
  .settings {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .setting {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      label {
        margin-right: 10px;
        width: 120px;
        display: inline-block;
        text-align: right;
      }
      mat-radio-button {
        padding-right: 15px;
        min-width: 80px;
      }
      mat-radio-group.small-screen {
        display: flex;
        flex-direction: column;
      }
    }
  }
  mat-dialog-actions {
    @include nr.mat-dialog-action-bottom-right();
  }
  .version {
    font-style: italic;
    font-size: smaller;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
  }
  .version.small-screen {
    padding-left: 0;
  }
}
