@use "../../styles/mixins" as nr;

:host {
  .browse-dialog-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    &.is-big-fonts {
      padding-bottom: 24px;
      @include nr.icon-button-size(48px, 36px);
      --mdc-filled-button-label-text-size: 24px;
      --mdc-filled-button-container-color: transparent;
      .mat-mdc-unelevated-button {
        padding: 26px;
      }
      > mat-icon {
        @include nr.mat-icon-size(48px);
      }
    }
  }
  mat-dialog-content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    .loading-spinner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  mat-dialog-actions {
    @include nr.mat-dialog-action-bottom-right();
  }
}
