name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # set-up build env
      - uses: actions/checkout@v6
      - name: Set-up yarn version
        run: corepack enable yarn
      - name: Set-up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: yarn
      # install:immutable,clean,build,lint,test
      - name: Ci
        run: yarn ci
