name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # set-up build env
      - uses: actions/checkout@v6
      - name: Set-up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      # install:immutable,clean,build,lint,test
      - name: CI
        run: bun run ci
