<div mat-dialog-title class="volume-header" ngxSnContainer>
  <div>
    <span>
      <button mat-icon-button (click)="onOpenTransferDialog()" ngxSnStarter id="zone-volume-transfer"><mat-icon fontIcon="sync_alt" /></button>
      @if ($canGroup()) {
        <button mat-icon-button (click)="onOpenGroupDialog()" id="zone-volume-group"><mat-icon fontIcon="link" /></button>
      }
    </span>
    @if ($isGroup()) {
      <span>
        <button mat-icon-button (click)="onGroupedZoneMute($event)" id="zone-volume-group-mute"><mat-icon [fontIcon]="$isGroupedZoneMute() ? 'volume_off' : 'volume_up'" /></button>
        <span class="volume-buttons">
          <button mat-icon-button (click)="onGroupedZoneStep($event, true)" id="zone-volume-group-minus"><mat-icon fontIcon="do_not_disturb_on" /></button>
          <button mat-icon-button (click)="onGroupedZoneStep($event, false)" id="zone-volume-group-plus"><mat-icon fontIcon="add_circle" /></button>
        </span>
      </span>
    }
  </div>
</div>
<mat-divider />
<mat-dialog-content class="volume-panel">
  @for (output of $outputs(); track output.output_id; let count = $count; let index = $index) {
    @if (count !== 1) {
      @if (index > 0) {
        <mat-divider />
      }
      <span class="volume-output-name">{{output.display_name}}</span>
    }
    <div class="volume-control" ngxSnContainer>
      @if (output.volume) {
        <button mat-icon-button (click)="onOutputMute($event, output.output_id)" [id]="'zone-volume-' + output.output_id + '-mute'"><mat-icon [fontIcon]="output.volume.is_muted ? 'volume_off' : 'volume_up'" /></button>
        @if (output.volume.type !== "incremental") {
          <span class="volume-value">{{sliderValue.valueAsNumber}}</span>
          <span class="volume-slider" [class.is-small-screen]="$isSmallScreen()" ngxSnElement ngxSnIgnore="true">
            <sub>{{output.volume.hard_limit_min ?? output.volume.min ?? 0}}</sub>
            <mat-slider
              [max]="output.volume.hard_limit_max ?? output.volume.max ?? 100"
              [min]="output.volume.hard_limit_min ?? output.volume.min ?? 0"
              [step]="output.volume.step ?? 1"
              (click)="$event.stopPropagation()"
            >
              <input matSliderThumb (valueChange)="onVolumeSliderChange($event, output.output_id)"  [value]="output.volume.value" #sliderValue>
            </mat-slider>
            <sub>{{output.volume.hard_limit_max ?? output.volume.max ?? 100}}</sub>
          </span>
        }
        <span class="volume-buttons">
          <button mat-icon-button (click)="onVolumeStep($event, output.output_id, true)" [id]="'zone-volume-' + output.output_id + '-plus'"><mat-icon fontIcon="do_not_disturb_on" /></button>
          <button mat-icon-button (click)="onVolumeStep($event, output.output_id)" [id]="'zone-volume-' + output.output_id + '-minus'"><mat-icon fontIcon="add_circle" /></button>
        </span>
      } @else {
        <button mat-icon-button disabled><mat-icon fontIcon="volume_up" /></button>
        <span class="volume-fixed">Volume control is fixed</span>
      }
    </div>
  }
</mat-dialog-content>
