<mat-dialog-content class="volume-panel">
  <div class="volume-header">
    <button tabindex="0" mat-icon-button (click)="onOpenTransferDialog()"><mat-icon fontIcon="sync_alt" /></button>
  </div>
  <mat-divider />
  @for (output of $outputs(); track output.output_id; let count = $count; let index = $index) {
    @if (count !== 1) {
      @if (index > 0) {
        <mat-divider />
      }
      <span class="volume-output-name">{{output.display_name}}</span>
    }
    <div class="volume-control">
      @if (output.volume) {
        <button tabindex="0" mat-icon-button (click)="onOutputMute($event, output.output_id)"><mat-icon [fontIcon]="output.volume.is_muted ? 'volume_off' : 'volume_up'" /></button>
        <span class="volume-value">{{sliderValue.valueAsNumber}}</span>
        <span class="volume-slider" [class.is-small-screen]="$isSmallScreen()">
          <sub>{{output.volume.hard_limit_min ?? output.volume.min ?? 0}}</sub>
          <mat-slider
            [max]="output.volume.hard_limit_max ?? output.volume.max ?? 100"
            [min]="output.volume.hard_limit_min ?? output.volume.min ?? 0"
            [step]="output.volume.step ?? 1"
            (click)="$event.stopPropagation()"
          >
            <input matSliderThumb (valueChange)="onVolumeSliderChange($event, output.output_id)"  [value]="output.volume.value" #sliderValue>
          </mat-slider>
          <sub>{{output.volume.hard_limit_max ?? output.volume.max ?? 100}}</sub>
        </span>
        <span class="volume-buttons">
          <button tabindex="0" mat-icon-button (click)="onVolumeStep($event, output.output_id, true)"><mat-icon fontIcon="do_not_disturb_on" /></button>
          <button tabindex="0" mat-icon-button (click)="onVolumeStep($event, output.output_id)"><mat-icon fontIcon="add_circle" /></button>
        </span>
      } @else {
        <button mat-icon-button disabled><mat-icon fontIcon="volume_up" /></button>
        <span class="volume-fixed">Volume control is fixed</span>
      }
    </div>
  }
</mat-dialog-content>
