@use "../styles/mixins" as nr;

.volume-header {
  margin: 5px;
  padding: 0;
}
.volume-output-name {
  @include nr.block-overflow-ellipsis();
  padding: 12px;
  width: 95%;
}
.volume-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  touch-action: manipulation;
  .volume-value {
    display: inline-block;
    width: 2rem;
    cursor: default;
    text-align: center;
  }
  .volume-slider {
    margin-left: 18px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    mat-slider {
      flex-grow: 1;
    }
    sub {
      vertical-align: baseline;
      font-size: 0.8rem;
    }
  }
  .volume-fixed {
    margin-right: 12px;
  }
}
.volume-panel {
  padding: 0;
}

@media screen and (max-width: 399px) {
  .volume-control {
    .mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: 36px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 290px) {
  .volume-control {
    .volume-buttons {
      display: none;
    }
  }
}
